*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-left: 20px;
    height: 40px;
}

.navbar {
    position: relative;
    height: 45px;
    margin-top: 15px;
}

 ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgb(247, 240, 227); */
    /* float: right; */

 }
 ul li {
    display: inline-block;
    transform-style: preserve-3d;
}

 ul li a {
    color: black;
    font-size: 16px;
    font-family: arial;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    position: relative;
    
}

ul li a span {
    display: block;
    padding: 15px 20px;
}

 ul li a span::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgb(48, 99, 196); */
    color: #2b5ecc;
    padding: 15px 20px;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY(50px);
    transition: .3s;
    transform-origin: bottom;
}

ul li a span:hover::before {
    transform: rotateX(0deg) translateY(0px);
} 

.search {
    float: right;
    margin-right:20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    /* box-shadow: 0 0 0 5px #2573ef; */
    overflow: hidden;
}

.icon {
    position: absolute;
    float: right;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search.active {
    width: 100px;
}

.search .input {
    position: relative;
    width: 200px;
    height: 40px;
    right: 0;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}


/* TODO: NAPRAVITI OPACITY DA RADI!!! */
.naslovna4{
    position: relative;
    /* background-image: url("./Naslovna.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("./Naslovna.jpg");; */
    
}

.naslovna4::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./O-Nama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    opacity: 0.6; 
}


p {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2em;
    font-style: italic;
    position: absolute;
}

.reklama {
    position: absolute;
    width: 200px;
    margin-left: 100px;
    margin-top: 470px;
}

.gMap {
    float: right;
    margin-top: 450px;
    margin-right: 100px;
}

.nasKon {
    position: absolute;
    margin-top: 450px;
    margin-left: 600px;
}

.nasKon a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nasKon a:hover{
    color:#33135c;
    text-decoration:none;
}